:root {
  --primary-color: #232528;
  --secondary-color: #36373b;
  --third-color: #ffa400;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

[data-theme="dark"] {
  --primary-color: #ffa400;
  --secondary-color: #ffa400;
  --third-color: #eee;
  --font-color: #e1e1ff;
  --bg-color: #0f0f20;
  --heading-color: #ffa400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #ffa400;
    --secondary-color: #ffa400;
    --third-color: #eee;
    --font-color: #e1e1ff;
    --bg-color: #0f0f20;
    --heading-color: #ffa400;
  }

  [data-theme="light"] {
    --primary-color: #232528;
    --secondary-color: #36373b;
    --third-color: #ffa400;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  max-width: 90%;
  margin: 0 auto;
  font-size: calc(1rem + 0.25vh);
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  width: 60px;
  position: relative;
}

.slider {
  background-color: var(--third-color);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 4px;
  background-color: #fff;
  width: 26px;
  height: 26px;
  transition: 0.4s;
}

.slider::before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--third-color);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

em {
  margin-left: 10px;
  font-size: 1rem;
}

input[type="checkbox"] {
  display: none;
}

section {
  margin: 0 auto;
  max-width: 68%;
}

h1 {
  color: var(--heading-color);
  font-family: serif;
  font-size: 2rem;
  margin-bottom: 1vh;
  margin-top: 0;
}

.post-meta {
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-bottom: 4vh;
  color: var(--secondary-color);
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

a:hover,
a:focus {
  border-bottom-color: currentColor;
}
